/* 全てのページに適用 */

html {
    font-size: 16px;
    font-family: sans-serif;
}
p, li, td {
    line-height: 1.7;
}

/* 全てのページに適用　ヘッダー */

/* 全てのページに適用　ヒーロー */

/* 全てのページに適用　メイン */

/* 全てのページに適用　フッター */

/* 個別のスタイル */

/* index.html */